@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
// Primary
$Pale-blue: #e0e8ff;
$Bright-blue: #3829e0;

// Neutral
$Very-pale-blue: #f5f7ff;
$Desaturated-blue: #7280a7;

// font
$font-family: 'Red Hat Display',sans-serif;
$weightsmall:500;
$weightmed:700;
$weightbold:900;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

* {
  box-sizing: border-box;
  // border:1px solid red;
}

body{
  font-family: $font-family;
  // background-color: $Bright-blue;
  background: rgb(67, 106, 238);
  background: linear-gradient(0deg, rgba(67, 106, 238, .85) 0%, rgba(141, 5, 240, .72) 96%);
}
.container{
  padding:0 3em  0;
  border-radius: 1rem;
  background-color: #fff;
  text-align: left;
}
 .row{
  display: flex;
 }
 .row_arrow{
  display: flex;
 }
 .img_section{
  width:500px;
  // height:20vh;
  margin-left:-120px;
  // background-size:contain;
  background: 
      url(/images/illustration-box-desktop.svg) center left no-repeat,
      url(/images/illustration-woman-online-desktop.svg) 10px -24px no-repeat,
      url(/images/bg-pattern-desktop.svg) center right no-repeat , 
 }
.faq_section{
  margin-left:4em;
  padding: 3em 0 ;
}

 .dropdown {
    display: block;
    padding: .5em 0;
    border-bottom: 1px solid $Desaturated-blue;
 }
    .dropdown-content {
      display: none;
      text-align: left;
    }

p {
  max-width: 300px;
  color: $Desaturated-blue;

  font: {
    weight: 500;
    size: .8rem;
  }
}

 h4 {
  font-weight: 500;
  color:$Desaturated-blue;
  margin:auto;
  width:350px;
  text-align: left;
  // margin-right:auto;

    &:hover,
    &:active {
      color:#000;
      font-weight:900;

        &:hover ~ span img,
        &:active ~ span img {
          animation: rotation 2s;
       }      
     }
 }
 
span{

  &:hover {
    animation: rotation 2s;
    color:#000;
  }
}

button:focus {
      &:focus + .dropdown-content {
          display: block;
        }
}
@keyframes rotation {
  50% {
    transform: rotate(180deg);
  }

  // 100% {
  //   transform: rotate(0deg);
  // }
}
@media  screen and (max-width:800px) {
  h2{
    text-align: center;
  }
  h4{
    width:310px;
  }
  .container{
    padding: 5em 1em 0;
  }
  .row{
    display: block;
  }
  .img_section{
    height:200px;
    width:100%;
    position: fixed;
    margin:-180px 20px;
    background: 
      url("/images/illustration-woman-online-mobile.svg") no-repeat,
      url("/images/bg-pattern-mobile.svg") -2px 130px no-repeat;
  }
     .faq_section {
       margin-left: 0;
     }
}